.beef {
  background-color: #D9534F;
}

.chicken {
  background-color: #F0AD4E;
}

.dessert {
  background-color: #EFD9CE;
}

.lamb {
  background-color: #C1A183;
}

.miscellaneous {
  background-color: #5BC0DE;
}

.pasta {
  background-color: #D7BFA6;
}

.pork {
  background-color: #FFBB93;
}

.seafood {
  background-color: #7DA7BD;
}

.side {
  background-color: #A0D8EF;
}

.starter {
  background-color: #D4A5A5;
}

.vegan {
  background-color: #8CC84B;
}

.vegetarian {
  background-color: #A3C47D;
}

.breakfast {
  background-color: #FFD97D;
}

.goat {
  background-color: #A4876C;
}