@font-face { font-family: g; src: url('hwyuenei64.ttf'); }
			


			.g{
				font-family: g;
			}

			body {
      background-color: #BFCBCE;
      overflow: hidden;
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;

      background: rgb(86,91,117);
      background: linear-gradient(180deg, rgba(86,91,117,1) 0%, rgba(191,203,206,1) 12%);
    }

    .load{
      animation: load 0.6s ease-in forwards;
    }

    @keyframes load {
      from { opacity: 0%; }
      to { opacity: 100% } 
    }

    .a{
      position: relative;
      align-items: center;
      align-self: center;
      text-align: center;
    }

    .ico {
      padding: 15px 15px 15px 15px;
      aspect-ratio: 1 / 1;
    }

    .line {
      top: 17.5%;
      left: 18%;
      position: absolute;
      width: 4px;
      height: 65%;
      background-color: #BFCBCE;
      border-radius: 5px;
    }

    .top {
      position: absolute;
      top: 10%;
      background-color: white;
      width: 90%;
      height: 8%;
      border-radius: 25px;
      display: inline;
      z-index: 5;
    }

    .topt {
      position: absolute;
      top: -3%;
      left: 23%;
      color: #BFCBCE;
    }

    #date {
      color: white;
      position: absolute;
      top: 1%;
      left: 6%;
      font-size: 130%;
    }


    .nav{
      position: absolute;
      bottom: 5%;
      width: 90%;
      height: 13%;
      display: flex;
      align-items: center;
      align-self: center;
      z-index: 10;
    }

    .r{
      width: 45%;
      height: 60%;
      background-color: white;
      position: absolute;
      left: 5%;
      border-radius: 500px;
    }

    .c{
      height: 100%;
      aspect-ratio: 1/1;
      background-color: white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 500px;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
      z-index: 10;
    }

    .ct{
      height: 100%;
      aspect-ratio: 1/1;
      background-color: white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 500px;
      z-index: 20;
    }

    .l{
      width: 45%;
      height: 60%;
      background-color: white;
      position: absolute;
      right: 5%;
      border-radius: 500px;
    }


    .b1{
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: -30%;
      background-color: #BFCBCE;
      z-index: 15;
    }

    .b2{
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: 80%;
      background-color: #BFCBCE;
      z-index: 15;
    }

    .ca{
      position: absolute;
      left: 15%;
      bottom: 12%;
    }

    .us{
      position: absolute;
      right: 15%;
      bottom: 6.5%;
    }

    .re{
      position: absolute;
      left: 14.5%;
      bottom: 15%;
    }

    .c0{
      opacity: 0%;
    }

.r .c0 {
  transition: opacity 0.3s ease;
}

.r:hover .c0 {
opacity: 100%;
}

.l .c0 {
  transition: opacity 0.3s ease;
}

.l:hover .c0 {
opacity: 100%;
}

.ct .c0 {
  transition: opacity 0.3s ease;
}

.ct:hover .c0 {
opacity: 100%;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 98%;
  top: 17%;
  position: absolute;
  width: 98%;
  height: 65%;
  margin: auto;
  scrollbar-width: none;
  left: 6%;
   scroll-behavior: smooth;
}

      .main{
  height: 247%;
  width: 90%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 5%;
  z-index: ;
  overflow: ;
}

.blur1 {
  width: 120%;
  height: 5%;
  background-color: #BFCBCE;
  position: absolute;
  box-shadow: 0px 0px 20px 20px #BFCBCE;
  z-index: 3;
  top: 13%;
}

.blur2 {
  width: 120%;
  height: 7%;
  background-color: #BFCBCE;
  position: absolute;
  box-shadow: 0px 0px 20px 20px #BFCBCE;
  top: 71%;
  position: fixed;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
        justify-content: center;
      align-items: center;

         animation: load 0.6s ease-in forwards;
}


   .bottom {
      position: absolute;
      top: 72%;
      background-color: white;
      width: 90%;
      height: 8%;
      border-radius: 25px;
      display: inline;
      z-index: 50;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      color: #BFCBCE;
      transition: all 0.5s ease-out;
    }

    .bottom:hover,
    .bottom:focus {
     color: #303655;
     box-shadow: 0px 0px 20px 0px #888888;
    }

    .stored{
      padding: 8px 15px 8px 15px;
    }

    .ingre{
      position: relative;
      width: 100%;
      height: 5vh;
    }

    .str{
      font-size: 110%;
      color: #BFCBCE;
      top: 25%;
      position: relative;
    }

    .strip{
      position: relative;
      width: 100%;
      height: 0.2vh;
      background-color: #BFCBCE;
      z-index: 5;
      bottom: -38%;
      border-radius: 25px;
    }

    .left{
      position: absolute;
      top: 20%;
      background-color: #BFCBCE;
      color: white;
      padding: 1px 6px 1px 6px;
      border-radius: 6px;
      right: 8%;
    }

    .leftct{
      font-size: 70%;
    }

    .img{
      position: absolute;
      top: 5%;
    }

    .edit{
      right: 7%;
    }

    .delete{
      right: -3%;
    }